<%- include('../../templates/site/header.ejs') %>

<body>
    <%- include('../../templates/site/nav.ejs') %>
    <div class="container">
        <h1>Artigos</h1>
        <% articles.forEach(article=>{ %>
            <div class="card">
                <div class="card-body"><%= article.title %></div>
            </div>
            <hr>
        <% }) %>
        <%- include('../../templates/site/scripts.ejs') %>

        <script>
            function deleteConfirm(event, form) {
                console.log(name)
                event.preventDefault()
                const confirmed = confirm("Deseja deletar");
                if (confirmed) {
                    form.submit()
                }
            }
        </script>